$white: #fff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #868e96 ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black: #000 ;

$blue: #072B43 ;
$indigo: #3f51b5 ;
$purple: #673ab7 ;
$pink: #e91e63 ;
$red: #f44336 ;
$orange: #ff5722 ;
$yellow: #ffab00 ;
$green: #8bc34a ;
$teal: #009688 ;
$cyan: #00bcd4 ;
