
@import './colors.scss';

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: false !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (sm: 540px, md: 640px, lg: 980px, xl: 1200px) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $blue !default;
$inverse-bg: $gray-900 !default;
$inverse-color: $gray-600 !default;

// Links
//
// Style anchor elements.
$link-decoration: none !default;
$link-hover-decoration: none !default;



@import 'node_modules/bootstrap/scss/bootstrap';
@import "fonts.scss";


html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

h4, h5, h6 {
  font-family: var(--font-family-sans-serif);
  margin: 0 0 1em 0;
}

h6 {
  font-weight: 800;
}

main {

}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
  padding-bottom: 10px;
  margin-bottom: 15px;
  max-width: 100%;
}

img:hover {
  animation: pulse 0.5s;
}

section {
  padding: 6em 0;
}

.lead {
  font-size: 24px;
  line-height: 1.8;
  margin: 0 0 2em 0;
}

li {
  margin: 0 0 1em 0;
}

section > *, footer > * {
  margin-top: 0;
  transition: margin 500ms ease-in-out;
}

section, footer {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.hide {
  opacity: 0.2;
}

.hide > * {
  margin-top: 4em;
}

h1, h2, h3, h4, h5, h6,
p,
li {
  text-align: left;
}

footer p {
  font-size: 14px;
}

@include media-breakpoint-down(xs) {


  .lead {
    font-size: 20px;
    line-height: 1.25;
  }

  footer p {
    font-size: 12px;
  }

  h1 {
    font-size: 1.15em;
  }

  h2 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.2em;
  }

}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-between(xs, sm) {
  .container {
    max-width: 100%;
  }

  h1 {
    font-size: 1.3em;
  }


}

@include media-breakpoint-between(sm, md) {

  .container {
    max-width: 100%;
  }

  h1 {
    font-size: 1.75em;
  }
}

@include media-breakpoint-between(md, lg) {

  .container {
    max-width: 100%;
  }

  h1 {
    font-size: 2.25em;
  }
}

@include media-breakpoint-up(lg) {

  .container {
    max-width: 1200px;
  }

  h1 {
    font-size: 2.5em;
  }
}
