@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "../../layouts/colors.scss";

.page-not-found {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;

  background-color: $blue;
  background-image: url('/images/404-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  h1 {
    display: inline-block;
    color: $white;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
  }

  .logo {
    display: block;
    position: absolute;
    color: white;
    top: 6em;
    transform: scale(1.5)
  }
}

@include media-breakpoint-down(xs) {

  h1 {
    padding: 0 2em;
  }

  br { display: none; }
}
