@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/variables";
@import '../../layouts/colors.scss';

.contact {
  padding-bottom: 0;
}

a {
  color: $blue;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba($blue, .25)
}

a:hover,
a:focus {
  color: $blue;
  border-bottom-color: $blue;
}

.container-fluid {
  padding: 0;
}

#map {
  width: 100%;
  height: 640px;
  margin-top: 4em;
  background: darken($blue, 80%)
}
