@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/variables";
@import '../../layouts/colors.scss';

footer {
  padding: 8em 0;
  color: $white;
  background-color: $blue;
}

.social-links {
  text-align: center;
  padding-top: 33px;
}
.social-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 8px;
}

footer .row > div:nth-of-type(3) {
  text-align: right;

  p {
    text-align: inherit;
  }
}

@include media-breakpoint-down(md) {
  .social-links {
    padding: 1em 0;
  }

  .row > div {
    text-align: center !important;
  }
}
