@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "../../layouts/colors.scss";

@keyframes tap {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }

  50% {
    background-color: rgba(255, 255, 255, .25);
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
  color: $white;
  z-index: 100;
  background-color: transparent;
  border-bottom: 1px dotted rgba(255, 255, 255, .33);
  transition: color,background-color 400ms ease-in-out;
  box-shadow: none;
}

header.inverse {
  color: var(--blue);
  background-color: rgba(255, 255, 255, .8);
  border-bottom: 1px dotted rgba(7, 43, 67, .33);
  //box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.33);
}

.logo {
  margin: 0;
  justify-content: flex-start;
}

.nav-item {
  padding-left: 1.5em;
  margin: 0;
}

.nav-link {
  font-weight: bold;
  padding: 0 0 3px !important;
  color: currentColor;
  border-bottom: 2px solid transparent;
  transition: border-color 400ms;

  &:hover {
    color: currentColor;
    border-bottom: 2px solid currentColor;
  }

  &:focus {
    outline-offset: 3px;
    outline: 1px dotted rgba(255, 255, 255, .33);
  }
}

.hamburger {

  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-appearance: none;
  border: 0;
  color: currentColor;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline-offset: 3px;
    outline: 1px dotted rgba(255, 255, 255, .2);
  }

  .bars {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto;

    span {
      position: absolute;
      top: calc(50% - 1.5px);
      right: 0;
      width: 24px;
      height: 2px;
      background-color: currentColor;
      transition: all 200ms ease-in;

      &::before {
        content: "";
        position: absolute;
        top: -7px;
        right: 0;
        width: 30px;
        height: 2px;
        background-color: currentColor;
        transition: all 200ms ease-in;
      }

      &::after {
        content: "";
        position: absolute;
        top: 7px;
        right: 0;
        width: 15px;
        height: 2px;
        background-color: currentColor;
        transition: all 200ms ease-in;
      }
    }
  }
}

.is-open {
  color: $white;
}

.is-open .hamburger {
  .bars {
    span {
      width: 0;

      &::after {
        top: 0;
        right: 0;
        width: 30px;
        transform: rotate(45deg);
      }

      &::before {
        top: 0;
        right: 0;
        width: 30px;
        transform: rotate(-45deg)
      }
    }
  }
}

.call-us-large {
  text-align: right;
  font-weight: bold;
  text-transform: uppercase;
}

.tap {
  animation-name: tap;
  animation-duration: 200ms;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call-us-link {
  color: currentColor;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  border: 0;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: currentColor;
  }

  &:focus {
    outline-offset: 3px;
    outline: 1px dotted rgba(255, 255, 255, .2);
  }

  svg {
    vertical-align: bottom;
  }
}

@include media-breakpoint-up(sm) {
  .hamburger {
    display: none;
  }

  .logo-full-lockup-horizontal {
    display: inline;
  }

  .logo {
    display: none;
  }

  .call-us-link {
    display: none;
  }

  .nav {
    float: right;
  }
}

@include media-breakpoint-down(md) {

  header {
    min-height: calc(2em + 48px);
  }

}

@include media-breakpoint-down(sm) {
    nav {
      display: block !important;
      position: fixed;

      top: -1px;
      left: 0;
      right: 0;
      height: 1px;
      transition: top,height 250ms ease-in-out;

      z-index: 0;
      background-color: #E44813;

      overflow: hidden;
    }

    .is-open .hamburger + nav {
      top: 0;
      height: 100%;
    }

    .hamburger {
      position: relative;
      z-index: 100;
      display: inline-block;
    }

  .logo-full-lockup-horizontal {
    display: none;
  }

  .call-us-large {
    display: none;
  }

  .logo {
    position: relative;
    z-index: 100;
    display: inline;
  }

  .call-us-link {
    position: relative;
    z-index: 100;
    display: inline;
  }

  .nav {
    float: none;
    margin: 8em 0 0;
  }

  .nav-item {
    display: block;
    padding: 0;
    width: 100%;
    opacity: 0;
    text-align: left;
    transition: opacity 250ms ease-in;

    a {
      font-size: 32px;
      font-weight: normal;
      display: block;
      border: 0;
      padding: .5em 2em !important;
      transition: background-color 400ms ease-in;

      &:hover {
        border: 0;
        background-color: rgba(255, 255, 255, .2)
      }
    }
  }

  .is-open .hamburger + nav .nav-item {
    opacity: 1;
  }
}
