@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/variables";
@import "../../layouts/colors.scss";

@keyframes fadeInImage {
  0% {
    width: 0%;
  }

  50% {
    width: 25%;
  }

  100% {
    width: 0%;
  }
}

@keyframes fadeInTitle {
  from {
    opacity: 0.0;
  }

  to {
    opacity: 1.0;
  }
}

@keyframes fadeInInfo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1.0;
  }
}

.products {
  background-color: lighten($blue, 82%);

  .container-fluid {
    padding: 0;
  }
}

.carousel {
  position: relative;
  height: 317px;
  margin: 2em 0;
  overflow: hidden;
  background-color: lighten($blue, 82%);

  .info-panel {
    position: relative;
    height: 100%;
    padding: 0 1em 0 0;
    background-color: lighten($blue, 82%);

    h4.change {
        animation-name: fadeInTitle;
        animation-duration: 800ms;
    }

    .info.change {
      animation-name: fadeInInfo;
      animation-duration: 800ms;
    }
  }

  ul {
    padding: 0 0 0 1em;
    width: 80%;
  }

  .container {
    height: 100%;

    .row {
      height: 100%;
    }

    [class^="col"] {
      height: 100%;
    }
  }

  button{
    position: absolute;
    display: block;
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    padding: 0;
    height: 48px;
    width: 48px;
    opacity: .5;
  }

  .leftArrow {
    top: calc(50% - 24px);
  }

  .rightArrow {
    top: calc(50% - 24px);

    svg {
      transform: rotate(180deg);
    }
  }

  button:focus, button:hover {
    opacity: 1;
    outline-offset: 3px;
    outline: 1px dotted #E44813;
  }

  .product {
    position: absolute;
    display: inline-block;
    width: 500px;
    height: 317px;
    //background-color: $blue;

    img {
      display: inline-block;
      margin: 0;
      padding: 0;

      &:hover {
        animation: none;
      }
    }
  }

  .blind {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: lighten($blue, 82%);
  }

  .blind:nth-of-type(2) {
    left: 25%;
  }

  .blind:nth-of-type(3) {
    left: 50%;
  }

  .blind:nth-of-type(4) {
    left: 75%;
  }

  .blind.change {
    animation-name: fadeInImage;
    animation-duration: 800ms;
  }

  .image-00 {
    left: calc(-500px - 1em);
    top: 0;
  }

  .image-01 {
    opacity: 1;
    left: 100%;
    top: 0;
  }

  .image-02 {
    left: calc(100% + 500px);
    top: 0;
  }

  .image-03 {
    left: calc(100% + 1000px);
    top: 0;
  }
}

@include media-breakpoint-up(sm) {
  .leftArrow {
    left: -48px;
  }

  .rightArrow {
    left: 0;
  }
}

@include media-breakpoint-up(sm) {
  .image-00,
  .image-02,
  .image-03 {
    display: inline-block;
  }
}

@include media-breakpoint-down(sm) {
  .carousel {
    .image-00,
    .image-02,
    .image-03 {
      display: none;
    }
  }
  .carousel .image-01 {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    left: auto;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .carousel {
    height: auto;
  }

  .leftArrow {
    left: 0;
    right: auto;
  }

  .rightArrow {
    right: 0;
    left: auto;
  }

  .carousel .info-panel {
    padding: 0;

    h4 {
        font-size: 14px;
        text-transform: uppercase;
        display: inline-block;
        padding: .25em .5em;
        background-color: rgba(255, 255, 255, .75);
        margin: 0;
        position: relative;
        min-width: 33%;
        top: -4em;
        left: .5em;
        text-align: center;
    }

    & > div:not(.product) {
      padding: 1em 0 0 1em;
    }

    & > div ul {
      padding-left: 3em;
      margin: 0;

      li {
        text-align: left;
      }
    }

    & > div p {
      text-align: left;
    }

  }
}
