@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "../../layouts/colors.scss";

.quality {
  color: $white;
  background-image: url('../../../static/images/fish-tail.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@include media-breakpoint-down(sm) {
  .quality {
    background-image: none;
    background-color: #222;
  }
}
