@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "../../layouts/colors.scss";

.sourcing {
  min-height: 580px;

  background-image: url(../../../static/images/trawler.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@include media-breakpoint-down(sm) {
  .sourcing {
    background-image: none;
    background-color: $white;
  }
}
