@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "../../layouts/colors.scss";

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;

  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}

.splash {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;

  background-image: url('/images/splash.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  h1 {
    display: inline-block;
    color: $white;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
  }

  a {
    position: absolute;
    width: 4em;
    bottom: 2em;
    left: calc(50% - 2em);
    color: $white;
    text-decoration: none important;
    border-bottom: 0;

    span {
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    .down-arrow {
      display: block;
      margin: .5em auto 0;
    }

    &:focus, &:hover {
      color: $white;
      outline-offset: 3px;
      outline: 1px dotted rgba(255, 255, 255, .33);
    }
  }
}

@include media-breakpoint-down(xs) {
  .splash {
    background-image: none;
    background-color: $blue;
  }

  h1 {
    font-size: 1.5em;
    padding: 0 2em;
  }

  br { display: none; }
}
